<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{web.auth.login}"></title>
    <th:block th:replace="~{fragment/common-head::common-head}"></th:block>
    <th:block th:replace="~{fragment/plex-login-script::plex-login-script}"></th:block>
    <script>
        function onAuthSuccess(authToken) {
            document.getElementById("authToken").value = authToken;
            document.getElementById("login-form").submit();
        }

        function onAuthError() {
            console.error("Failed to login with Plex");
            document.getElementById("login-with-plex").removeAttribute("disabled");
        }

        function onPlexLoginClick() {
            document.getElementById("login-with-plex").setAttribute("disabled", "true");
            runPlexOauth(onAuthSuccess, onAuthError);
        }
    </script>
</head>
<body>
<div class="d-flex justify-content-center align-items-center vh-100 text-center flex-fill">
    <form id="login-form" th:action="@{~/login}" method="post">
        <label for="authToken" hidden>PIN ID</label>
        <input id="authToken" type="hidden" name="authToken" class="form-control" required hidden/>

        <div th:if="${param.error}" th:text="${param.error}" class="alert danger fs-2" role="alert"></div>
        <div th:if="${param.logout}" th:text="#{web.auth.logged-out}" class="alert alert-success fs-2" role="alert"></div>

        <label for="login-with-plex" class="form-label" th:text="#{web.auth.header}" hidden="hidden"></label>
        <button id="login-with-plex" class="btn btn-warning form-control form-control-lg fs-2" th:text="#{web.auth.header}" onclick="return onPlexLoginClick();"></button>
    </form>
</div>
</body>
</html>