<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"/>
</head>
<body>
<div class="container-fluid text-center">
    <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">
        <div th:if="${param.error}">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>
        <div th:if="${param.logout}">
            <p class="text-warning" th:text="#{web.auth.logged-out}"/>
        </div>

        <div class="border border-secondary p-3 rounded">
            <p th:text="#{web.auth.header}"/>
            <p>
                <label for="username" th:text="#{web.auth.email}"/>
                <input id="username" type="email" name="username" class="form-control" placeholder="a@b.c" required autofocus/>
            </p>
            <p>
                <label for="password" th:text="#{web.auth.password}"/>
                <input id="password" type="password" name="password" class="form-control" th:placeholder="#{web.auth.password}" required/>
            </p>
            <p>
                <label for="otp" th:text="#{web.auth.otp}"/>
                <input id="otp" type="number" name="otp" class="form-control" placeholder="123456" maxlength=6/>
            </p>
            <p>
                <input type="submit" th:value="#{web.auth.login}" class="btn btn-primary"/>
            </p>
        </div>
    </form>
</div>
</body>
</html>