<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waiting media</title>
    <link rel="icon" href="/static/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<table id="medias">
    <thead>
    <tr>
        <th class="center">User group</th>
        <th class="center"></th>
        <th class="center">Type</th>
        <th class="center">Name</th>
        <th class="center">Season</th>
        <th class="center">Count</th>
        <th class="center">Status</th>
        <th class="center">Links</th>
        <th class="center">ID</th>
    </tr>
    </thead>
    <tbody>
    {% for user_group, medias in media_data.items() %}
    {% for media in medias %}
    <tr class="{{ 'first-group ' if loop.index == 1 }}{{ 'ready-delete ' if user_group.id == -1 }}{{ 'status-releasing ' if media.status.name == 'RELEASING' }{{ 'status-finished ' if media.status.name == 'FINISHED' }}">
        {% if loop.index == 1 %}
        <td class="row-group" rowspan="{{ medias | length }}"><span>{{user_group.name}}</span></td>
        {% endif %}
        <td>{{ loop.index }}</td>
        <td>
            <img class="icon bw-icon" alt="{{ media.type.name }} icon" src="{{ url_for('static', filename=media.type.get_icon() )}}"/>
            {{ media.type.get_for_display(locale) or '' }}
        </td>
        <td>{{ media.name }}</td>
        <td class="center">{{ media.season_number or '' }}</td>
        <td class="center">{{ media.element_count or '' }}</td>
        <td class="center">{{ media.status.get_for_display(locale) or '' }}</td>
        <td class="center">
            {% if url_data[media.overseerr_id] is not none %}
            {% if url_data[media.overseerr_id].overseerr_url is not none %}
            <a href="{{url_data[media.overseerr_id].overseerr_url}}" target="_blank"><img class="icon" alt="Overseerr icon" src="{{ url_for('static', filename='overseerr.png' )}}"/></a>
            {% endif %}
            {% if url_data[media.overseerr_id].plex_web_url is not none %}
            <a href="{{url_data[media.overseerr_id].plex_web_url}}" target="_blank"><img class="icon" alt="Plex web icon" src="{{ url_for('static', filename='plex.png' )}}"/></a>
            {% endif %}
            {% endif %}
        </td>
        <td>{{ media.id }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
</table>
</body>
</html>