<th:block th:fragment="media">
    <div class="me-3">
        <span th:text="#{${service.getTypeKey(media)}(${media.getName()}, ${media.getIndex()})}"></span>
        <th:block th:with="episodes = ${service.getEpisodes(media, userGroup)}">
            <th:block th:unless="${#lists.isEmpty(episodes)}">
                <span class="me-1 ms-1">|</span>
                <span th:with="episodesStr = ${#strings.listJoin(episodes, ', ')}" th:text="#{mail.watchlist.body.media.series.episodes(${episodesStr})}"></span>
            </th:block>
        </th:block>
        <th:block th:if="${media.getOverseerrId()}">
            <span class="me-1 ms-1">|</span>
            <a class="text-decoration-none" style="text-decoration: none" th:href="${thymeleafService.getMediaOverseerrUrl(media)}">
                <img alt="Overseerr logo" style="height: 16px; width: 16px;" th:src="|cid:${overseerrLogoResourceName}|">
            </a>
        </th:block>
        <th:block th:if="${media.getPlexId()}">
            <span class="me-1 ms-1">|</span>
            <a class="text-decoration-none" style="text-decoration: none" th:href="${thymeleafService.getMediaPlexUrl(media)}">
                <img alt="Plex logo" style="height: 16px; width: 16px;" th:src="|cid:${plexLogoResourceName}|">
            </a>
        </th:block>
        <th:block th:if="${media.getTmdbId()}">
            <span class="me-1 ms-1">|</span>
            <a class="text-decoration-none" style="text-decoration: none" th:href="${thymeleafService.getMediaTmdbUrl(media)}">
                <img alt="Tmdb logo" style="height: 16px; width: 16px;" th:src="|cid:${tmdbLogoResourceName}|">
            </a>
        </th:block>
        <th:block th:if="${media.getTvdbId()}">
            <span class="me-1 ms-1">|</span>
            <a class="text-decoration-none" style="text-decoration: none" th:href="${thymeleafService.getMediaTvdbUrl(media)}">
                <img alt="Tvdb logo" style="height: 16px; width: 16px;" th:src="|cid:${tvdbLogoResourceName}|">
            </a>
        </th:block>
    </div>
</th:block>

<th:block th:fragment="footer">
    <footer class="mt-3 bg-light text-center">
        <a class="text-dark" th:href="${thymeleafService.getOwnUrl()}" th:text="#{mail.footer.app-link}"></a>
        <div class="mb-2"></div>
    </footer>
</th:block>