<div th:fragment="navbar" class="topnav" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand bg-body-tertiary border-bottom border-body">
        <div class="container-fluid">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{~/}" th:text="#{web.navbar.media-list}"></a>
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{~/admin/media/soon-deleted}" th:text="#{web.navbar.admin.media.list-soon-deleted}"></a>
                    <a class="nav-link" th:href="@{~/admin/media-requirement/add}" th:text="#{web.navbar.admin.requirement.add}"></a>
                    <a class="nav-link" th:href="@{~/admin/media-requirement/list}" th:text="#{web.navbar.admin.requirement.list}"></a>
                </th:block>
                <a class="nav-link" th:href="@{~/logout}" th:text="#{web.navbar.logout}"></a>
            </div>
        </div>
    </nav>
</div>