<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="#{web.navbar.media-list}"></title>
    <script th:replace="~{fragment/common-head::common-head}"></script>
</head>
<body>
<div th:replace="~{fragment/navbar.html::navbar}"></div>
<div>
    <table class="table table-striped table-bordered table-hover align-middle text-center">
        <thead class="thead-light">
        <tr>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <th scope="col" th:text="#{web.media-list.table.id}"/>
            </th:block>
            <th scope="col" th:text="#{web.media-list.table.type}"/>
            <th scope="col" th:text="#{web.media-list.table.name}"/>
            <th scope="col" th:text="#{web.media-list.table.season}"/>
            <th scope="col" th:text="#{web.media-list.table.episodes}"/>
            <th scope="col" th:text="#{web.media-list.table.availability}"/>
            <th scope="col">Overseerr</th>
            <th scope="col" th:text="#{web.media-list.table.action}"/>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="media : ${medias}" th:class="${media.getAvailability().getTableClass()}">
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <td th:text="${media.getId()}"></td>
            </th:block>
            <td>
                <div class="d-flex flex-row justify-content-center align-items-center col-auto">
                    <svg class="m-1" height="20" width="20">
                        <image th:xlink:href="@{/static/__${media.getType().getIcon()}__}" height="20" width="20"/>
                    </svg>
                    <span class="m-1" th:text="#{${media.getType().getLocalizationKey()}}"></span>
                </div>
            </td>
            <td th:text="${media.getName()}"></td>
            <td th:text="${media.getIndex()}"></td>
            <td th:text="${media.getAvailablePartsCount() + ' / ' + media.getPartsCount()}"></td>
            <td th:text="#{${media.getAvailability().getLocalizationKey()}}"></td>
            <td>
                <div th:if="${media.getOverseerrId()}" class="d-flex flex-row justify-content-center align-items-center col-auto">
                    <a th:href="${userService.getMediaOverseerrUrl(media)}" th:target="_blank">
                        <svg class="m-1" height="20" width="20">
                            <image th:xlink:href="@{/static/overseerr.svg}" height="20" width="20"/>
                        </svg>
                    </a>
                </div>
            </td>
            <td>
                <div class="d-flex flex-row justify-content-center align-items-center">
                    <div class="m-1" th:if="${media.getAvailability().isAvailable() && media.isCompletable()}">
                        <form th:action="@{/api/user/media-requirement/complete}" method="post">
                            <input type="hidden" name="media" class="form-control" th:value="${media.getId()}"/>
                            <input type="submit" th:value="#{web.media-list.table.action.complete}" class="btn btn-success btn-sm"/>
                        </form>
                    </div>
                    <div class="m-1" th:if="${media.getAvailability().isAvailable()}">
                        <form th:action="@{/api/user/media-requirement/abandon}" method="post">
                            <input type="hidden" name="media" class="form-control" th:value="${media.getId()}"/>
                            <input type="submit" th:value="#{web.media-list.table.action.abandon}" class="btn btn-danger btn-sm"/>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>