<!DOCTYPE HTML>
<html th:lang="${#locale.language}" xmlns:th="https://www.thymeleaf.org" data-bs-theme="auto">
<head>
    <title th:text="#{web.navbar.media-list}"></title>
    <th:block th:replace="~{fragment/common-head::common-head}"></th:block>
    <script th:src="@{~/static/scripts/media-actions.js}"></script>
</head>
<body>
<div th:replace="~{fragment/navbar.html::navbar}"></div>
<div>
    <th:block th:replace="~{fragment/requirement-list::requirement-list(requirements=${requirements}, thymeleafService=${thymeleafService}, displayUsers=${displayUsers})}"></th:block>
</div>
</body>
</html>