<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="#{web.navbar.admin.requirement.abandon}"></title>
    <script th:replace="~{fragment/common-head::common-head}"></script>
</head>
<body>
<div th:replace="~{fragment/navbar.html::navbar}"></div>
<div class="container-fluid text-center">
    <form th:action="@{/api/admin/media-requirement/abandon}" method="post" style="max-width: 350px; margin: 0 auto;">
        <div class="border border-secondary p-3 rounded">
            <p th:text="#{web.admin.requirement.abandon.header}"/>
            <p>
                <label for="requirement" th:text="#{web.admin.requirement.abandon.requirement}"/>
                <select class="form-control" id="requirement" name="requirement" required>
                    <option th:each="requirement : ${requirements}"
                            th:value="${requirement.getId().getMediaId()} + '|' + ${requirement.getId().getGroupId()}"
                            th:text="${requirement.getMedia().getName()} + ' - ' + ${requirement.getMedia().getIndex()} + ' - ' + ${requirement.getGroup().getName()}">
                    </option>
                </select>
            </p>
            <p>
                <input type="submit" th:value="#{web.admin.requirement.abandon.submit}" class="btn btn-warning"/>
            </p>
        </div>
    </form>
</div>
</body>
</html>