<!DOCTYPE HTML>
<html th:lang="${#locale.language}" xmlns:th="https://www.thymeleaf.org" data-bs-theme="auto">
<head>
    <title th:text="#{web.navbar.admin.requirement.add}"></title>
    <th:block th:replace="~{fragment/common-head::common-head}"></th:block>
</head>
<body>
<div th:replace="~{fragment/navbar.html::navbar}"></div>
<div class="container-fluid text-center">
    <form th:action="@{~/api/admin/media-requirement/add}" method="post" style="max-width: 350px; margin: 0 auto;">
        <div class="border border-secondary p-3 rounded">
            <p th:text="#{web.admin.requirement.add.header}"/>
            <p>
                <label for="group" th:text="#{web.admin.requirement.add.group}"/>
                <select class="form-control" id="group" name="group" required>
                    <option th:each="group : ${groups}"
                            th:value="${group.getId()}"
                            th:text="${group.getName()}">
                    </option>
                </select>
            </p>
            <p>
                <label for="overseerr" th:text="#{web.admin.requirement.add.overseerr}"/>
                <input id="overseerr" type="text" pattern="[0-9]*" list="media-overseerr-ids" name="overseerr" class="form-control" placeholder="123456" required autofocus/>
                <datalist id="media-overseerr-ids">
                    <option th:each="media : ${medias}"
                            th:value="${media.getOverseerrId()}"
                            th:text="${media.getName()} + ' - ' + ${media.getIndex()}">
                    </option>
                </datalist>
            </p>
            <p>
                <label for="season" th:text="#{web.admin.requirement.add.season}"/>
                <input id="season" type="text" inputmode="numeric" pattern="[0-9]*" name="season" class="form-control" placeholder="1" required/>
            </p>
            <p>
                <label for="type" th:text="#{web.admin.requirement.add.type}"/>
                <select class="form-control" id="type" name="type" required>
                    <option th:each="type : ${T(fr.rakambda.plexdeleter.storage.entity.MediaType).values()}"
                            th:value="${type.name()}"
                            th:text="#{${type.getLocalizationKey()}}">
                    </option>
                </select>
            </p>
            <p>
                <input type="submit" th:value="#{web.admin.requirement.add.submit}" class="btn btn-success"/>
            </p>
        </div>
    </form>
</div>
</body>
</html>