<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:value="#{web.navbar.admin.requirement.list}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/static/styles/base.css}" rel="stylesheet"/>
    <link th:href="@{/static/favicon.png}" rel="icon" type="image/png"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"/>
</head>
<body>
<div th:replace="~{fragment/navbar.html::navbar}"></div>
<div>
    <h2 th:text="#{web.admin.requirement.list.header}"/>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col"></th>
            <th scope="col" th:text="#{web.media-list.table.user}"/>
            <th scope="col" th:text="#{web.media-list.table.type}"/>
            <th scope="col" th:text="#{web.media-list.table.name}"/>
            <th scope="col" th:text="#{web.media-list.table.season}"/>
            <th scope="col" th:text="#{web.media-list.table.count}"/>
            <th scope="col" th:text="#{web.media-list.table.availability}"/>
            <th scope="col">Overseerr</th>
            <th scope="col" th:text="#{web.media-list.table.id}"/>
        </tr>
        </thead>
        <tbody>
        <tr th:each="requirement,iter : ${requirements}" th:class="${requirement.getMedia().getAvailability().isAvailable() ? 'table-success' : 'media-not-available'}">
            <th scope="row" th:text="${iter.index}"></th>
            <td th:text="${requirement.getGroup().getName()}"></td>
            <td>
                <img class="icon align-middle" th:alt="${requirement.getMedia().getType()}" th:src="@{/static/__${requirement.getMedia().getType().getIcon()}__}"/>
                <th:block th:text="#{${requirement.getMedia().getType().getLocalizationKey()}}"></th:block>
            </td>
            <td th:text="${requirement.getMedia().getName()}"></td>
            <td th:text="${requirement.getMedia().getIndex()}"></td>
            <td th:text="${requirement.getMedia().getPartsCount()}"></td>
            <td th:text="#{${requirement.getMedia().getAvailability().getLocalizationKey()}}"></td>
            <td>
                <th:block th:if="${requirement.getMedia().getOverseerrId()}">
                    <a th:href="${userService.getMediaOverseerrUrl(requirement.getMedia())}" th:target="_blank">
                        <img class="icon" alt="Overseerr logo" th:src="@{/static/overseerr.png}"/>
                    </a>
                </th:block>
            </td>
            <td th:text="${requirement.getMedia().getId()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>