<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <th:block th:replace="~{fragment/common-head::common-head}"></th:block>
</head>
<body>
<div class="container text-center">
    <div class="d-flex flex-column justify-content-center">
        <div th:if="${mediaPosterResourceName}">
            <img th:src="|cid:${mediaPosterResourceName}|" class="img-fluid rounded" alt="Media poster">
        </div>
        <div>
            <h2 class="text-primary" th:text="${mediaTitle}"></h2>
            <h3 class="text-primary" th:if="${mediaSeason}" th:text="${mediaSeason}"></h3>
        </div>
        <div>
            <p th:text="${mediaSummary}"></p>
        </div>
        <div class="mb-2" th:unless="${#strings.isEmpty(mediaReleaseDate)}">
            <h4 class="text-primary" th:text="#{mail.media.available.body.release-date}"/>
            <div th:text="${mediaReleaseDate}"/>
        </div>
        <div class="mb-2" th:unless="${#lists.isEmpty(mediaActors)}">
            <h4 class="text-primary" th:text="#{mail.media.available.body.actors}"></h4>
            <div th:each="mediaActor : ${mediaActors}" th:text="${mediaActor}"/>
        </div>
        <div class="mb-2" th:unless="${#lists.isEmpty(mediaGenres)}">
            <h4 class="text-primary" th:text="#{mail.media.available.body.genres}"></h4>
            <div th:each="mediaGenre : ${mediaGenres}" th:text="${mediaGenre}"/>
        </div>
        <div class="mb-2" th:unless="${#strings.isEmpty(mediaDuration)}">
            <h4 class="text-primary" th:text="#{mail.media.available.body.length}"/>
            <div th:text="${mediaDuration}"/>
        </div>
        <div class="mb-2" th:unless="${#lists.isEmpty(mediaAudios)}">
            <h4 class="text-primary" th:text="#{mail.media.available.body.audios}"></h4>
            <div th:each="mediaAudio : ${mediaAudios}" th:text="${mediaAudio}"/>
        </div>
        <div class="mb-2" th:unless="${#lists.isEmpty(mediaSubtitles)}">
            <h4 class="text-primary" th:text="#{mail.media.available.body.subtitles}"></h4>
            <div th:each="mediaSubtitle : ${mediaSubtitles}" th:text="${mediaSubtitle}"/>
        </div>
    </div>
</div>
</body>
</html>