<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<head>
    <title></title>
    <th:block th:replace="~{fragment/common-head::common-head}"></th:block>
</head>
<body>
<div>
    <th:block th:replace="~{fragment/mail::media(media=${media}, service=${service}, userGroup=${userGroup}, thymeleafService=${thymeleafService}, overseerrLogoResourceName=${overseerrLogoResourceName}, plexLogoResourceName=${plexLogoResourceName})}"></th:block>
</div>
<th:block th:replace="~{fragment/mail::footer(thymeleafService=${thymeleafService})}"></th:block>
</body>
</html>