<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="#{web.navbar.admin.media.delete}"></title>
    <th:block th:replace="~{fragment/common-head::common-head}"></th:block>
</head>
<body>
<div th:replace="~{fragment/navbar.html::navbar}"></div>
<div class="container-fluid text-center">
    <form th:action="@{~/api/admin/media/delete}" method="post" style="max-width: 350px; margin: 0 auto;">
        <div class="border border-secondary p-3 rounded">
            <p th:text="#{web.admin.media.delete.header}"/>
            <p>
                <label for="media" th:text="#{web.admin.media.delete.media}"/>
                <select class="form-control" id="media" name="media" required>
                    <option th:each="media : ${medias}"
                            th:value="${media.getId()}"
                            th:text="${media.getName()} + ' - ' + ${media.getIndex()}">
                    </option>
                </select>
            </p>
            <p>
                <input type="submit" th:value="#{web.admin.media.delete.delete}" class="btn btn-danger"/>
            </p>
        </div>
    </form>
</div>
</body>
</html>