table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #E0E0E0;
    padding: 8px;
}

td.center, th.center {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #ffee6924;
}

tr:hover {
    background-color: #ffee69e8;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: #FAFAFA;
}

img.icon {
    max-height: 15px;
    transform: translate(0%, 15%);
}

.row-group {
    text-align: center;
    vertical-align: middle;
    width: 30px;
    line-height: 30px;
    font-size: 20px;
    background-color: #FAFAFA;
}

.row-group > span {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    white-space: nowrap;
}

tr.status-finished {
    background-color: #DCEDC8;
}

tr.status-finished:nth-child(even) {
    background-color: #C5E1A5;
}

tr.status-finished:hover {
    background-color: #9CCC65;
}

tr.ready-delete {
    background-color: #FFCCBC;
}

tr.ready-delete:nth-child(even) {
    background-color: #FFAB91;
}

tr.ready-delete:hover {
    background-color: #FF7043;
}

tr.first-group {
    border-top: 2px solid black;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: #404040;
    }

    a:link {
        color: lightskyblue;
    }

    a:visited {
        color: #6d4b8d;
    }

    a:hover {
        color: #ffffff;
    }

    a:active {
        color: #ff4040;
        text-decoration: none;
        font-weight: normal;
    }

    tr:nth-child(even) {
        background-color: #252525;
    }

    tr:hover {
        background-color: #101010;
    }

    tr.first-group {
        border-top: 2px solid white;
    }

    img.bw-icon {
        filter: invert(1);
    }

    .row-group {
        background-color: #121212;
    }

    tr.status-finished {
        background-color: #568722;
    }

    tr.status-finished:nth-child(even) {
        background-color: #395917;
    }

    tr.status-finished:hover {
        background-color: #263a11;
    }

    tr.ready-delete {
        background-color: #942626;
    }

    tr.ready-delete:nth-child(even) {
        background-color: #731f1f;
    }

    tr.ready-delete:hover {
        background-color: #541616;
    }
}